<div
  style="
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right:0;
    position: fixed;
    background: #eaf7f8;
  "
>
  <div
    style="
      width: 805px;
      height: 895px;
      left: 836px;
      top: 79px;
      position: absolute;
    "
  >
  
    <div
      style="
        width: 748.52px;
        height: 895px;
        left: 0px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 713.3px;
          height: 873.83px;
          left: 17.61px;
          top: 10.59px;
          position: absolute;
          background: #dadada;
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
          border-radius: 6px;
        "
      ></div>
      <div
        style="
          width: 748.52px;
          height: 895px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
    </div>
    <div
      style="
        width: 5.28px;
        height: 75.3px;
        left: 728.27px;
        top: 133.44px;
        position: absolute;
        background: #b7bdcb;
        box-shadow: 1px 1px 50px rgba(112, 124, 151, 0.15);
        border-radius: 10px;
      "
    ></div>
    <div
      style="
        width: 805px;
        height: 105.8px;
        left: 0px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 748.52px;
          height: 104.85px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #fafbff;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        "
      ></div>
      <div
        style="
          width: 275.16px;
          height: 51.47px;
          left: 52.84px;
          top: 26.69px;
          position: absolute;
        "
      >
        <div
          style="
            width: 47.55px;
            height: 51.47px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 47.55px;
              height: 51.47px;
              left: 0px;
              top: 0px;
              position: absolute;
            "
          >
            <div
              style="
                width: 47.55px;
                height: 51.47px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #c4c4c4;
                border-radius: 9999px;
              "
            ></div>
            <img
              style="
                width: 47.55px;
                height: 51.47px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
              src="https://via.placeholder.com/48x51"
            />
          </div>
        </div>
        <div
          style="
            width: 214.4px;
            height: 45.41px;
            left: 60.76px;
            top: 1.91px;
            position: absolute;
          "
        >
          <div
            style="
              width: 214.4px;
              height: 18.36px;
              left: 0px;
              top: 27.05px;
              position: absolute;
              text-align: center;
              color: #2a8bf2;
              font-size: 16px;
              font-family: Inter;
              font-weight: 500;
              text-transform: lowercase;
              word-wrap: break-word;
            "
          >
            last online 5 hours ago
          </div>
          <div
            style="
              width: 147.48px;
              height: 21.25px;
              left: 3.72px;
              top: 0px;
              position: absolute;
              text-align: center;
              color: #0d1c2e;
              font-size: 18px;
              font-family: Inter;
              font-weight: 700;
              text-transform: capitalize;
              word-wrap: break-word;
            "
          >
            Nika Jerrardo
          </div>
        </div>
      </div>
      <div
        style="
          width: 748.52px;
          height: 1.91px;
          left: 0px;
          top: 105.8px;
          position: absolute;
          background: rgba(112, 124, 151, 0.1);
        "
      ></div>
      <div
        style="
          width: 131.87px;
          height: 49.56px;
          left: 605.86px;
          top: 27.64px;
          position: absolute;
        "
      >
        <div
          style="
            width: 45.79px;
            height: 49.56px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: white;
            box-shadow: 0px 5px 25px rgba(42, 139, 242, 0.07);
            border-radius: 9999px;
          "
        ></div>
        <div
          style="
            width: 22.42px;
            height: 22.83px;
            left: 109.45px;
            top: 13.06px;
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            display: inline-flex;
          "
        >
          <div style="width: 22.42px; height: 22.83px; position: relative">
            <div
              style="
                width: 22.42px;
                height: 22.83px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #707c97;
              "
            ></div>
          </div>
          <div
            style="width: 16.81px; height: 18.08px; background: #231f20"
          ></div>
          <div
            style="width: 16.81px; height: 18.08px; background: #231f20"
          ></div>
        </div>
      </div>
      <div
        style="
          width: 135.73px;
          height: 49.56px;
          left: 669.27px;
          top: 27.64px;
          position: absolute;
        "
      >
        <div
          style="
            width: 45.79px;
            height: 49.56px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: white;
            box-shadow: 0px 5px 25px rgba(42, 139, 242, 0.07);
            border-radius: 9999px;
          "
        ></div>
        <div
          style="
            width: 22.42px;
            height: 22.83px;
            left: 113.31px;
            top: 13.06px;
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            display: inline-flex;
          "
        >
          <div style="width: 22.42px; height: 22.83px; position: relative">
            <div
              style="
                width: 22.42px;
                height: 22.83px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #707c97;
              "
            ></div>
          </div>
          <img
            style="width: 3.74px; height: 17.12px"
            src="https://via.placeholder.com/4x17"
          />
          <img
            style="width: 3.74px; height: 17.12px"
            src="https://via.placeholder.com/4x17"
          />
        </div>
      </div>
    </div>
    <div
      style="
        width: 728.3px;
        height: 58.14px;
        left: 59.88px;
        top: 799.69px;
        position: absolute;
      "
    >
      <div
        style="
          width: 635.81px;
          height: 1.91px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: rgba(112, 124, 151, 0.15);
          border-radius: 2px;
        "
      ></div>
      <div
        style="
          width: 127.72px;
          height: 38.13px;
          left: 600.58px;
          top: 20.02px;
          position: absolute;
        "
      >
        <div
          style="
            width: 35.22px;
            height: 38.13px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: linear-gradient(326deg, #2a8bf2 0%, #7cb8f7 100%);
            box-shadow: 4px 6px 10px rgba(42, 139, 242, 0.15);
            border-radius: 9999px;
          "
        ></div>
        <div
          style="
            width: 18.68px;
            height: 19.03px;
            left: 109.04px;
            top: 7.79px;
            position: absolute;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03);
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            display: inline-flex;
          "
        >
          <div style="width: 18.68px; height: 19.03px; position: relative">
            <div
              style="
                width: 18.68px;
                height: 19.03px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: white;
              "
            ></div>
          </div>
          <div
            style="width: 14.01px; height: 14.27px; background: #231f20"
          ></div>
          <div
            style="width: 14.01px; height: 14.27px; background: #231f20"
          ></div>
        </div>
      </div>
      <div
        style="
          width: 21.13px;
          height: 22.88px;
          left: 551.27px;
          top: 27.64px;
          position: absolute;
        "
      >
        <div
          style="
            width: 21.13px;
            height: 22.88px;
            left: 0px;
            top: 0px;
            position: absolute;
            border-radius: 9999px;
            border: 2.5px rgba(112, 124, 151, 0.5) solid;
          "
        ></div>
        <div
          style="
            width: 7.69px;
            height: 2.6px;
            left: 6.72px;
            top: 13px;
            position: absolute;
            border: 2.5px rgba(112, 124, 151, 0.5) solid;
          "
        ></div>
        <div
          style="
            width: 1.92px;
            height: 2.08px;
            left: 6.72px;
            top: 7.28px;
            position: absolute;
            background: rgba(112, 124, 151, 0.5);
            border-radius: 9999px;
          "
        ></div>
        <div
          style="
            width: 1.92px;
            height: 2.08px;
            left: 12.49px;
            top: 7.28px;
            position: absolute;
            background: rgba(112, 124, 151, 0.5);
            border-radius: 9999px;
          "
        ></div>
      </div>
      <div
        style="
          width: 270px;
          height: 23px;
          left: 40.12px;
          top: 27.31px;
          position: absolute;
          text-align: center;
        "
      >
        <span
          style="
            color: rgba(112, 124, 151, 0.5);
            font-size: 20px;
            font-family: Inter;
            font-weight: 500;
            text-transform: capitalize;
            word-wrap: break-word;
          "
          >Type </span
        ><span
          style="
            color: rgba(112, 124, 151, 0.5);
            font-size: 20px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            word-wrap: break-word;
          "
          >a message her</span
        ><span
          style="
            color: rgba(112, 124, 151, 0.5);
            font-size: 20px;
            font-family: Inter;
            font-weight: 500;
            text-transform: capitalize;
            word-wrap: break-word;
          "
          >e</span
        >
      </div>
    </div>
    <div
      style="
        width: 643.79px;
        height: 81.02px;
        left: 52.84px;
        top: 133.44px;
        position: absolute;
      "
    >
      <div
        style="
          width: 22.42px;
          height: 22.83px;
          left: 621.37px;
          top: 29.04px;
          position: absolute;
        "
      >
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <div
          style="
            width: 22.42px;
            height: 22.83px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 22.42px;
              height: 22.83px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #b7bdcb;
            "
          ></div>
        </div>
      </div>
      <div
        style="
          width: 457.92px;
          height: 81.02px;
          left: 52.84px;
          top: -0px;
          position: absolute;
          background: linear-gradient(91deg, #60a9f6 0%, #2a8bf2 100%);
          box-shadow: 10px 10px 50px rgba(42, 139, 242, 0.1);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        "
      ></div>
      <div
        style="
          width: 414.77px;
          height: 43.84px;
          left: 72.21px;
          top: 13.34px;
          position: absolute;
        "
      >
        <span
          style="
            color: white;
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >C</span
        ><span
          style="
            color: white;
            font-size: 16px;
            font-family: Inter;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >an I send you files?<br
        /></span>
      </div>
      <img
        style="
          width: 31.7px;
          height: 34.31px;
          left: 0px;
          top: 1.91px;
          position: absolute;
          box-shadow: 1px 1px 50px rgba(154, 81, 48, 0.15);
          border-radius: 100px;
        "
        src="https://via.placeholder.com/32x34"
      />
    </div>
    <div
      style="
        width: 283.6px;
        height: 88.25px;
        left: 105.67px;
        top: 228.75px;
        position: absolute;
      "
    >
      <div
        style="
          width: 123px;
          height: 18px;
          left: 0.33px;
          top: 70.25px;
          position: absolute;
        "
      >
        <span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >4 </span
        ><span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >days ago</span
        >
      </div>
      <div
        style="
          width: 22.42px;
          height: 22.83px;
          left: 261.17px;
          top: 11.74px;
          position: absolute;
        "
      >
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <div
          style="
            width: 22.42px;
            height: 22.83px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 22.42px;
              height: 22.83px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #b7bdcb;
            "
          ></div>
        </div>
      </div>
      <div
        style="
          width: 169.08px;
          height: 47.66px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: linear-gradient(91deg, #60a9f6 0%, #2a8bf2 100%);
          box-shadow: 10px 10px 50px rgba(42, 139, 242, 0.1);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        "
      ></div>
      <div
        style="
          width: 130.33px;
          height: 18.11px;
          left: 19.37px;
          top: 13.34px;
          position: absolute;
        "
      >
        <span
          style="
            color: white;
            font-size: 13px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >C</span
        ><span
          style="
            color: white;
            font-size: 13px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >an I send you files?</span
        >
      </div>
    </div>
    <div
      style="
        width: 299.1px;
        height: 76.46px;
        left: 498.43px;
        top: 314.54px;
        position: absolute;
      "
    >
      <div
        style="
          width: 102px;
          height: 18px;
          left: 91.57px;
          top: 58.46px;
          position: absolute;
        "
      >
        <span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >4 </span
        ><span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >days ago</span
        >
      </div>
      <div
        style="
          width: 171.72px;
          height: 47.66px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
          box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05);
          border: 1px rgba(112, 124, 151, 0.25) solid;
        "
      ></div>
      <div
        style="
          width: 22.42px;
          height: 22.83px;
          left: 54.33px;
          top: 11.58px;
          position: absolute;
        "
      >
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <div
          style="
            width: 22.42px;
            height: 22.83px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 22.42px;
              height: 22.83px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #b7bdcb;
            "
          ></div>
        </div>
      </div>
      <div
        style="
          width: 133.85px;
          height: 18.11px;
          left: 18.49px;
          top: 13.34px;
          position: absolute;
        "
      >
        <span
          style="
            color: #707c97;
            font-size: 13px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >H</span
        ><span
          style="
            color: #707c97;
            font-size: 13px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >ey! </span
        ><span
          style="
            color: #707c97;
            font-size: 13px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >O</span
        ><span
          style="
            color: #707c97;
            font-size: 13px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >kay, send out.</span
        >
      </div>
      <div
        style="
          width: 14.95px;
          height: 15.22px;
          left: 284.15px;
          top: 15.39px;
          position: absolute;
        "
      >
        <img
          style="
            width: 11.83px;
            height: 7.61px;
            left: 1.87px;
            top: 3.81px;
            position: absolute;
          "
          src="https://via.placeholder.com/12x8"
        />
        <img
          style="
            width: 11.83px;
            height: 7.61px;
            left: 1.87px;
            top: 3.81px;
            position: absolute;
          "
          src="https://via.placeholder.com/12x8"
        />
        <div
          style="
            width: 14.95px;
            height: 15.22px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 14.95px;
              height: 15.22px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #b7bdcb;
            "
          ></div>
        </div>
      </div>
    </div>
    <div
      style="
        width: 326.14px;
        height: 125.21px;
        left: 52.84px;
        top: 390.79px;
        position: absolute;
      "
    >
      <img
        style="
          width: 31.7px;
          height: 34.31px;
          left: 0px;
          top: 1.91px;
          position: absolute;
          box-shadow: 1px 1px 50px rgba(154, 81, 48, 0.15);
          border-radius: 100px;
        "
        src="https://via.placeholder.com/32x34"
      />
      <div
        style="
          width: 158.51px;
          height: 85.78px;
          left: 52.84px;
          top: -0px;
          position: absolute;
          background: linear-gradient(91deg, #60a9f6 0%, #2a8bf2 100%);
          box-shadow: 10px 10px 50px rgba(42, 139, 242, 0.1);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        "
      ></div>
      <div
        style="
          width: 22.42px;
          height: 22.83px;
          left: 303.72px;
          top: 28.57px;
          position: absolute;
        "
      >
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <div
          style="
            width: 22.42px;
            height: 22.83px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 22.42px;
              height: 22.83px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #b7bdcb;
            "
          ></div>
        </div>
      </div>
      <div
        style="
          width: 57.24px;
          height: 26.69px;
          left: 127.16px;
          top: 27.21px;
          position: absolute;
        "
      >
        <span
          style="
            color: white;
            font-size: 13px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >S</span
        ><span
          style="
            color: white;
            font-size: 13px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >tyle.zip</span
        >
      </div>
      <div
        style="
          width: 104px;
          height: 18px;
          left: 54.16px;
          top: 107.21px;
          position: absolute;
        "
      >
        <span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >4 </span
        ><span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >days ago</span
        >
      </div>
      <div
        style="
          width: 35.22px;
          height: 38.13px;
          left: 74.85px;
          top: 23.83px;
          position: absolute;
        "
      >
        <div
          style="
            width: 35.22px;
            height: 38.13px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 0.25);
            border-radius: 6px;
          "
        ></div>
        <div
          style="
            width: 22.42px;
            height: 22.83px;
            left: 6.31px;
            top: 7.38px;
            position: absolute;
          "
        >
          <img
            style="
              width: 14.95px;
              height: 19.03px;
              left: 3.74px;
              top: 1.9px;
              position: absolute;
            "
            src="https://via.placeholder.com/15x19"
          />
          <img
            style="
              width: 14.95px;
              height: 19.03px;
              left: 3.74px;
              top: 1.9px;
              position: absolute;
            "
            src="https://via.placeholder.com/15x19"
          />
          <div
            style="
              width: 22.42px;
              height: 22.83px;
              left: 0px;
              top: 0px;
              position: absolute;
            "
          >
            <div
              style="
                width: 22.42px;
                height: 22.83px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: white;
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        width: 642.85px;
        height: 15.25px;
        left: 52.84px;
        top: 515.65px;
        position: absolute;
      "
    >
      <div
        style="
          width: 281.8px;
          height: 0.95px;
          left: -0px;
          top: 7.63px;
          position: absolute;
          background: rgba(112, 124, 151, 0.15);
          border-radius: 2px;
        "
      ></div>
      <div
        style="
          width: 264.19px;
          height: 0.95px;
          left: 378.66px;
          top: 7.63px;
          position: absolute;
          background: rgba(112, 124, 151, 0.15);
          border-radius: 2px;
        "
      ></div>
      <div
        style="
          width: 59.88px;
          height: 15.25px;
          left: 301.17px;
          top: -0px;
          position: absolute;
        "
      >
        <span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >3 </span
        ><span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >days ago</span
        >
      </div>
    </div>
    <div
      style="
        width: 493.53px;
        height: 118px;
        left: 304px;
        top: 553px;
        position: absolute;
      "
    >
      <div
        style="
          width: 81px;
          height: 26px;
          left: 286px;
          top: 92px;
          position: absolute;
        "
      >
        <span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >3 </span
        ><span
          style="
            color: rgba(112, 124, 151, 0.7);
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >days ago</span
        >
      </div>
      <div
        style="
          width: 366px;
          height: 72px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
          box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05);
          border: 1px rgba(112, 124, 151, 0.25) solid;
        "
      ></div>
      <div
        style="
          width: 22.42px;
          height: 22.83px;
          left: 36.69px;
          top: 34.75px;
          position: absolute;
        "
      >
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <img
          style="
            width: 16.82px;
            height: 3.81px;
            left: 2.8px;
            top: 9.51px;
            position: absolute;
          "
          src="https://via.placeholder.com/17x4"
        />
        <div
          style="
            width: 22.42px;
            height: 22.83px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 22.42px;
              height: 22.83px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #b7bdcb;
            "
          ></div>
        </div>
      </div>
      <div
        style="
          width: 14.95px;
          height: 15.22px;
          left: 478.58px;
          top: 38.55px;
          position: absolute;
        "
      >
        <div
          style="
            width: 9.97px;
            height: 7.61px;
            left: 2.49px;
            top: 3.81px;
            position: absolute;
            background: #231f20;
          "
        ></div>
        <div
          style="
            width: 9.97px;
            height: 7.61px;
            left: 2.49px;
            top: 3.81px;
            position: absolute;
            background: #231f20;
          "
        ></div>
        <div
          style="
            width: 14.95px;
            height: 15.22px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 14.95px;
              height: 15.22px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #b7bdcb;
            "
          ></div>
        </div>
      </div>
      <div
        style="
          width: 338.16px;
          height: 49.56px;
          left: 15.66px;
          top: 10.31px;
          position: absolute;
        "
      >
        <span
          style="
            color: #707c97;
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 26px;
            word-wrap: break-word;
          "
          >Hello! I </span
        ><span
          style="
            color: #707c97;
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >tweaked everything you as</span
        ><span
          style="
            color: #707c97;
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 26px;
            word-wrap: break-word;
          "
          >ked. I </span
        ><span
          style="
            color: #707c97;
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
            text-transform: lowercase;
            line-height: 26px;
            word-wrap: break-word;
          "
          >am sending the finished f</span
        ><span
          style="
            color: #707c97;
            font-size: 16px;
            font-family: Inter;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 26px;
            word-wrap: break-word;
          "
          >ile.</span
        >
      </div>
    </div>
  </div>
  
    </div>
 
</div>
