<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQL AI Chat</title>
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/chat.css" />
  </head>

  <body>
    <!-- sidebar content -->
    <div class="sidebar">
      <div class="sidebar-box">
        <div class="menu-project">
          <div
            style="
              width: 22px;
              height: 22px;
              padding-left: 1.37px;
              padding-right: 1.37px;
              padding-top: 1.15px;
              padding-bottom: 1.15px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 19.25px; height: 19.71px; position: relative">
              <div
                style="
                  width: 19.25px;
                  height: 16.04px;
                  left: 0px;
                  top: 3.67px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 8.71px;
                  height: 5.04px;
                  left: 5.27px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 5.04px;
                  height: 5.04px;
                  left: 7.1px;
                  top: 9.17px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 8.39px;
                  height: 4.14px;
                  left: 10.77px;
                  top: 8.25px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 8.14px;
                  height: 3.91px;
                  left: 0.34px;
                  top: 8.5px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
            </div>
          </div>
          <div class="menu-text">Projects</div>
        </div>

        <div class="menu-tasks">
          <div
            style="
              width: 22px;
              height: 22px;
              padding-left: 2.06px;
              padding-right: 2.06px;
              padding-top: 2.52px;
              padding-bottom: 2.52px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 17.88px; height: 16.96px; position: relative">
              <div
                style="
                  width: 10.54px;
                  height: 1.38px;
                  left: 7.33px;
                  top: 14.67px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 10.54px;
                  height: 1.38px;
                  left: 7.33px;
                  top: 8.25px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 10.54px;
                  height: 1.38px;
                  left: 7.33px;
                  top: 1.83px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 5.04px;
                  height: 4.12px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 5.04px;
                  height: 4.12px;
                  left: 0px;
                  top: 6.42px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 5.04px;
                  height: 4.12px;
                  left: 0px;
                  top: 12.83px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
            </div>
          </div>
          <div class="menu-text">Tasks</div>
        </div>

        <div class="menu-dashboard">
          <div
            style="
              width: 22px;
              height: 22px;
              padding: 1.15px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 19.71px; height: 19.71px; position: relative">
              <div
                style="
                  width: 16.04px;
                  height: 16.04px;
                  left: 1.83px;
                  top: 1.83px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 9.95px;
                  height: 9.95px;
                  left: 4.58px;
                  top: 4.58px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 1.38px;
                  height: 3.21px;
                  left: 5.51px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 1.38px;
                  height: 3.21px;
                  left: 9.17px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 1.38px;
                  height: 3.21px;
                  left: 12.83px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 3.21px;
                  height: 1.38px;
                  left: 16.5px;
                  top: 5.5px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 1.38px;
                  height: 3.21px;
                  left: 5.51px;
                  top: 16.5px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 3.21px;
                  height: 1.38px;
                  left: 0px;
                  top: 5.5px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 3.21px;
                  height: 1.38px;
                  left: 0px;
                  top: 9.17px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 3.21px;
                  height: 1.38px;
                  left: 0px;
                  top: 12.83px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 4.29px;
                  height: 4.29px;
                  left: 12.03px;
                  top: 12.29px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 11.07px;
                  height: 10.54px;
                  left: 8.63px;
                  top: 9.16px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
            </div>
          </div>
          <div class="menu-text">
            <a href="/home" style="text-decoration: none; color: inherit"
              >Dashboard</a
            >
          </div>
        </div>

        <div class="menu-users">
          <div
            style="
              width: 22px;
              height: 22px;
              padding-top: 1.15px;
              padding-bottom: 1.14px;
              padding-left: 1.15px;
              padding-right: 1.18px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 19.68px; height: 19.71px; position: relative">
              <div
                style="
                  width: 7.46px;
                  height: 12.86px;
                  left: 12.22px;
                  top: -0px;
                  position: absolute;
                "
              >
                <div
                  style="
                    width: 6.1px;
                    height: 6.11px;
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
                <div
                  style="
                    width: 5.98px;
                    height: 5.98px;
                    left: 1.48px;
                    top: 6.88px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
              </div>
              <div
                style="
                  width: 7.46px;
                  height: 12.86px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                "
              >
                <div
                  style="
                    width: 6.11px;
                    height: 6.11px;
                    left: 1.35px;
                    top: -0px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
                <div
                  style="
                    width: 5.98px;
                    height: 5.98px;
                    left: 0px;
                    top: 6.88px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
              </div>
              <div
                style="
                  width: 8.65px;
                  height: 12.86px;
                  left: 5.53px;
                  top: 6.85px;
                  position: absolute;
                "
              >
                <div
                  style="
                    width: 6.11px;
                    height: 6.11px;
                    left: 1.19px;
                    top: -0px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
                <div
                  style="
                    width: 8.65px;
                    height: 5.97px;
                    left: 0px;
                    top: 6.89px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
              </div>
            </div>
          </div>
          <div class="menu-text">Users</div>
        </div>

        <div class="menu-settings">
          <div
            style="
              width: 22px;
              height: 22px;
              padding-top: 1.66px;
              padding-bottom: 1.66px;
              padding-left: 1.15px;
              padding-right: 1.14px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 19.72px; height: 18.68px; position: relative">
              <div
                style="
                  width: 6.88px;
                  height: 6.88px;
                  left: 6.42px;
                  top: 5.9px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 19.72px;
                  height: 18.68px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
            </div>
          </div>
          <div class="menu-text">Menu settings</div>
        </div>
      </div>
    </div>

    <!-- Sidebar title <Edusmart> -->
    <div class="menu-title">
      <a href="/home" style="text-decoration: none; color: inherit">EduSmart</a>
    </div>

    <div class="chat-box">
      <!-- Chat content goes here -->
      <div class="chat-title">SQL AI Teaching Assistant</div>

      <div class="chat-content">
        <!-- AI model selection -->
        <div>
          <label for="model-selection">Choose AI Model:</label>
          <select id="model-selection" onchange="updateModel()">
            <option value="model1">Model1</option>
            <option value="model2">Model2</option>
            <!-- Add more options as needed -->
          </select>
        </div>

        <!-- Sample messages -->
        <div class="message received">
          <span class="text">Hi there! How can I help you today?</span>
        </div>
        <div class="message sent">
          <span class="text">Can you assist me with SQL queries?</span>
        </div>
        <div class="message received">
          <span class="text">Sure!</span>
        </div>
        <!-- More messages... -->
        <div id="messages"></div>
      </div>
      <div class="message-input">
        <input type="text" id="user-message" placeholder="Type a message..." />
        <button onclick="sendMessage()">Send</button>
      </div>
    </div>

    <!-- The logo -->
    <div class="logo">
      <div
        style="
          width: 7.82px;
          height: 9.68px;
          left: 22.2px;
          top: 5.78px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.4px;
          height: 9.69px;
          left: 16.9px;
          top: 1.69px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.77px;
          height: 9.33px;
          left: 11.25px;
          top: 0px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.76px;
          height: 7.76px;
          left: 5.83px;
          top: 1.16px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.77px;
          height: 9.33px;
          left: 1.71px;
          top: 4.85px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.4px;
          height: 9.69px;
          left: 0px;
          top: 10.09px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 7.82px;
          height: 9.68px;
          left: 1.16px;
          top: 15.47px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.4px;
          height: 9.69px;
          left: 4.88px;
          top: 19.55px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.77px;
          height: 9.33px;
          left: 10.17px;
          top: 21.61px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.76px;
          height: 7.76px;
          left: 15.6px;
          top: 22.02px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.77px;
          height: 9.33px;
          left: 19.71px;
          top: 16.76px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.4px;
          height: 8.37px;
          left: 21.78px;
          top: 12.48px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
    </div>

    <script>
      // Array to store chat history
      const chatHistory = [];

      // function sendMessage() {
      //   const userMessage = document.getElementById('user-message').value;

      //   // Send user message to Flask backend
      //   fetch('/api/generate_response', {
      //     method: 'POST',
      //     headers: {
      //       'Content-Type': 'application/json',
      //     },
      //     body: JSON.stringify({ message: userMessage }),
      //   })
      //     .then(response => response.json())
      //     .then(data => {
      //       // Add the user message and bot response to chat history
      //       chatHistory.push({ user: userMessage, bot: data.message });

      //       // Display the entire chat history in the chat box
      //       displayChatHistory();

      //       // Clear the input field
      //       document.getElementById('user-message').value = '';
      //     })
      //     .catch(error => console.error('Error:', error));
      // }
      // function sendMessage() {
      //   const userMessage = document.getElementById("user-message").value;

      //   // Send user message to the new SQL query route
      //   fetch("/api/sql_query", {
      //     method: "POST",
      //     headers: {
      //       "Content-Type": "application/json",
      //     },
      //     body: JSON.stringify({ message: userMessage }),
      //   })
      //     .then((response) => response.json())
      //     .then((data) => {
      //       // Add the user message and SQL query response to chat history
      //       chatHistory.push({ user: userMessage, bot: data.message });

      //       // Display the entire chat history in the chat box
      //       displayChatHistory();

      //       // Clear the input field
      //       document.getElementById("user-message").value = "";
      //     })
      //     .catch((error) => console.error("Error:", error));
      // }

      function sendMessage() {
        const userMessage = document.getElementById("user-message").value;

        // Set default model_name and db_name
        const model_name = "gpt3";
        const db_name = "sakila_master";

        // Send user message to the /text2sql route
        fetch("/process_question", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            model_name: model_name,
            db_name: db_name,
            question: userMessage,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Assuming the response contains a field `response` with the text2sql result
            const sqlQuery = data.Query || "No SQL query generated";
            const sqlResult = data.Result || "No SQL result available";
            const resultDescription =
              data.Description || "No description available";

            // Add each response part to the chat history
            chatHistory.push({ user: "Query", bot: sqlQuery });
            chatHistory.push({ user: "Result", bot: sqlResult });
            chatHistory.push({ user: "Description", bot: resultDescription });

            // Add the user message and SQL query response to chat history
            // chatHistory.push({ user: userMessage, bot: sqlResponse });

            // Display the entire chat history in the chat box
            displayChatHistory();

            // Clear the input field
            document.getElementById("user-message").value = "";
          })
          .catch((error) => console.error("Error:", error));
      }

      function displayChatHistory() {
        // Display the entire chat history in the messages div
        const messagesDiv = document.getElementById("messages");
        messagesDiv.innerHTML = "";

        chatHistory.forEach((chat) => {
          // Add user message
          if (chat.user !== undefined) {
            messagesDiv.innerHTML += `<div class="message sent"><span class="text">${chat.user}</span></div>`;
          }
          // Add bot message
          if (chat.bot !== undefined) {
            messagesDiv.innerHTML += `<div class="message received"><span class="text">${chat.bot}</span></div>`;
          }
        });

        // Scroll to the bottom to show the latest messages
        messagesDiv.scrollTop = messagesDiv.scrollHeight;
      }

      // Initial display of chat history (empty)
      displayChatHistory();

      // Script for model selection.
      const modelSelection = document.getElementById("model-selection");

      function updateModel() {
        const selectedModel = modelSelection.value;

        // Send selected model to Flask backend
        fetch("/api/set_model", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ model: selectedModel }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Display the response as a chat message
            chatHistory.push({ bot: data.message });
            displayChatHistory();
          })
          .catch((error) => console.error("Error setting model:", error));
      }
    </script>
  </body>
</html>
