<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
  <div class="full-screen">
    <div class="sidebar">
      
      <div class="sidebar-box">

        <!-- icon-project -->
        <div class="menu-project">
          <div class="icons-box">
            <img class="icons" src="/static/images/icons/projects_icon.png" alt="">
          </div>
          <div class="menu-text">
            Projects
          </div>
        </div>

        <!-- icon-tasks  -->
        <div class="menu-tasks">
          <div class="icons-box">
            <img class="icons" src="/static/images/icons/tasks_icon.png" alt="">
          </div>
          <div class="menu-text">
            Tasks
          </div>
        </div>

        <!-- icon dashboard -->
        <div class="menu-dashboard">

          <div class="icons-box">
            <a href="/home" >
              <img class="icons" src="/static/images/icons/dashboard_icon.png" alt="">
            </a>
          </div>
          <div class="menu-text">
            <a href="/home" style="text-decoration: none; color: inherit;">Dashboard</a>
          </div>
        </div>

        <!-- icon Chat -->
        <div class="menu-users">
          <div class="icons-box">
            <a href="/chat" style="text-decoration: none;">
              <img class="icons" src="/static/images/icons/chattings_icons.png" alt="">
            </a>
          </div>
          <a href="/chat" style="text-decoration: none;">
            <div class="menu-text">
              Smart Query
            </div>
          </a>
        </div>

        <div class="menu-settings">
          <div class="icons-box">
            <img class="icons" src="/static/images/icons/settings_icons.png" alt="">
          </div>
          <div class="menu-text">
            Menu settings
          </div>
        </div>

      </div>
    </div>

    <!-- Sidebar title <Edusmart> -->
    <div class="menu-title">
      <a href="/home" style="text-decoration: none; color: inherit;">EduSmart</a>
    </div>

    <!-- Line under the Dashboard  -->
    <div class="top-line"></div>

    <!-- Dashboard title -->
    <div class="dashboard-title">
      <div style="
          width: 521px;
          color: #000606;
          font-size: 32px;
          font-family: Inter;
          font-weight: 400;
          letter-spacing: 0.16px;
          word-wrap: break-word;
        ">
        <a href="/home" style="text-decoration: none; color: inherit;">Dashboard</a>
      </div>
      <div style="width: 173px; height: 48px"></div>
    </div>

    <!-- Dashboard Overview -->
    <div class="dashboard-overview">
      <div style="
          width: 1120px;
          justify-content: space-between;
          align-items: center;
          display: inline-flex;
        ">
        <div style="
            color: #060606;
            font-size: 22px;
            font-family: Inter;
            font-weight: 400;
            letter-spacing: 0.22px;
            word-wrap: break-word;
          ">
          Overview
        </div>
      </div>
      <div style="
          height: 130px;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;
          display: inline-flex;
        ">
        <div style="
            width: 259px;
            height: 103px;
            padding-top: 18px;
            padding-bottom: 24px;
            padding-left: 18px;
            padding-right: 43px;
            background: rgba(255, 255, 255, 0.34);
            border-radius: 14px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          ">
          <div style="
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 10px;
              display: flex;
            ">
            <div style="
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 20px;
                display: flex;
              ">
              <div style="
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 10px;
                  display: flex;
                ">
                <div style="
                    width: 83px;
                    color: #797979;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                  SQL Solved
                </div>
                <div style="
                    color: #060606;
                    font-size: 28px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.28px;
                    word-wrap: break-word;
                  ">
                  322
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="
            width: 261px;
            height: 103px;
            padding-top: 18px;
            padding-bottom: 24px;
            padding-left: 18px;
            padding-right: 43px;
            background: rgba(255, 255, 255, 0.34);
            border-radius: 14px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          ">
          <div style="
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 20px;
              display: flex;
            ">
            <div style="
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                display: flex;
              ">
              <div style="
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 10px;
                  display: flex;
                ">
                <div style="
                    color: #797979;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                  Projects
                </div>
                <div>
                  <span style="
                      color: #060606;
                      font-size: 28px;
                      font-family: Inter;
                      font-weight: 400;
                      letter-spacing: 0.28px;
                      word-wrap: break-word;
                    ">95
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="
            width: 266px;
            height: 103px;
            padding-top: 18px;
            padding-bottom: 24px;
            padding-left: 18px;
            padding-right: 43px;
            background: rgba(255, 255, 255, 0.34);
            border-radius: 14px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          ">
          <div style="
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 20px;
              display: flex;
            ">
            <div style="
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                display: flex;
              ">
              <div style="
                  color: #797979;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                ">
                Time spent
              </div>
              <div>
                <span style="
                    color: #060606;
                    font-size: 28px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.28px;
                    word-wrap: break-word;
                  ">122Hr
              </div>
            </div>
          </div>
        </div>

        <div style="
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 20px;
              display: flex;
            ">
          <div style="
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                display: flex;
              ">

          </div>
        </div>
      </div>
      <div>

      </div>
    </div>

    <!-- Project Summary  -->
    <div class="dashboard-summary">
      <div style="
            width: 571px;
            height: 214px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            display: flex;
          ">
        <div style="
              width: 654px;
              justify-content: space-between;
              align-items: center;
              display: inline-flex;
            ">
          <div style="
                color: #060606;
                font-size: 16px;
                font-family: Inter;
                font-weight: 400;
                letter-spacing: 0.16px;
                word-wrap: break-word;
              ">
            Project summary
          </div>
          <div></div>
        </div>
        <div style="
              width: 582px;
              height: 190px;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 10px;
              display: flex;
            ">
          <div style="
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                display: flex;
              ">
            <div style="width: 535px; height: 17px; position: relative">
              <div style="
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.14px;
                    word-wrap: break-word;
                  ">
                Name
              </div>
              <div style="
                    left: 241px;
                    top: 0px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.14px;
                    word-wrap: break-word;
                  ">
                Project manager
              </div>
              <div style="
                    left: 387px;
                    top: 0px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.14px;
                    word-wrap: break-word;
                  ">
                Due date
              </div>
              <div style="
                    left: 491px;
                    top: 0px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.14px;
                    word-wrap: break-word;
                  ">
                Status
              </div>
            </div>
            <div style="
                  width: 560px;
                  height: 0px;
                  border: 1px rgba(0, 0, 0, 0.1) solid;
                "></div>
          </div>
          <div style="width: 571px; height: 157px; position: relative">
            <div style="
                  width: 554px;
                  height: 25px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                ">
              <div style="
                    left: 0px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Datascale AI app
              </div>
              <div style="
                    left: 241px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Neilsan mando
              </div>
              <div style="
                    left: 387px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Jun 20, 2023
              </div>
              <div style="
                    width: 63px;
                    height: 25px;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    left: 491px;
                    top: 0px;
                    position: absolute;
                    background: rgba(226.31, 177.2, 50.92, 0.18);
                    border-radius: 20px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                    display: inline-flex;
                  ">
                <div style="
                      color: #dfa510;
                      font-size: 12px;
                      font-family: Inter;
                      font-weight: 400;
                      letter-spacing: 0.12px;
                      word-wrap: break-word;
                    ">
                  Delayed
                </div>
              </div>
            </div>
            <div style="
                  width: 544px;
                  height: 25px;
                  left: 0px;
                  top: 44px;
                  position: absolute;
                ">
              <div style="
                    width: 53px;
                    height: 25px;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    left: 491px;
                    top: 0px;
                    position: absolute;
                    background: rgba(238, 31.55, 27.77, 0.18);
                    border-radius: 20px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                    display: inline-flex;
                  ">
                <div style="
                      color: #ee201c;
                      font-size: 12px;
                      font-family: Inter;
                      font-weight: 400;
                      letter-spacing: 0.12px;
                      word-wrap: break-word;
                    ">
                  At risk
                </div>
              </div>
              <div style="
                    left: 387px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                July 13, 2023
              </div>
              <div style="
                    left: 241px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Tiruvelly priya
              </div>
              <div style="
                    left: 0px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Media channel branding
              </div>
            </div>
            <div style="
                  width: 571px;
                  height: 25px;
                  left: 0px;
                  top: 88px;
                  position: absolute;
                ">
              <div style="
                    left: 387px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Dec 20, 2023
              </div>
              <div style="
                    left: 241px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Matte hannery
              </div>
              <div style="
                    left: 0px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Corlax iOS app develpoement
              </div>
              <div style="
                    width: 80px;
                    height: 25px;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    left: 491px;
                    top: 0px;
                    position: absolute;
                    background: rgba(26.27, 146.62, 45.53, 0.18);
                    border-radius: 20px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                    display: inline-flex;
                  ">
                <div style="
                      color: #1a932e;
                      font-size: 12px;
                      font-family: Inter;
                      font-weight: 400;
                      letter-spacing: 0.12px;
                      word-wrap: break-word;
                    ">
                  Completed
                </div>
              </div>
            </div>
            <div style="
                  width: 560px;
                  height: 25px;
                  left: 0px;
                  top: 132px;
                  position: absolute;
                ">
              <div style="
                    width: 69px;
                    height: 25px;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    left: 491px;
                    top: 0px;
                    position: absolute;
                    background: rgba(230, 95, 43, 0.18);
                    border-radius: 20px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                    display: inline-flex;
                  ">
                <div style="
                      color: #e65f2b;
                      font-size: 12px;
                      font-family: Inter;
                      font-weight: 400;
                      letter-spacing: 0.12px;
                      word-wrap: break-word;
                    ">
                  On going
                </div>
              </div>
              <div style="
                    left: 387px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Mar 15, 2024
              </div>
              <div style="
                    left: 241px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Sukumar rao
              </div>
              <div style="
                    left: 0px;
                    top: 4px;
                    position: absolute;
                    color: #060606;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  ">
                Website builder developement
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Logo -->
    <div class="logo-box">
      <a href="/home">
        <img class="logo-img" src="../static/images/logo1-1.jpg" " alt="">
      </a>
    </div>

    <button class="button-sign-out">
      <a href="/login" style="text-decoration: none; color: #ffffff;">Sign Out</a>
    </button>

    <!-- <button class="chat-button">
      <a href="/chat" style="text-decoration: none; color: #ffffff;">Ask</a>
    </button> -->

  </div>


</body>

</html>