<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div
  style="
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right:0;
    position: fixed;
    background: #eaf7f8;
  "
>
  <div
    style="
      width: 180px;
      padding-top: 140px;
      padding-left: 30px;
      padding-right: 46px;
      left: 0px;
      bottom: 0px;
      position: absolute;
      background: #060606;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 60px;
      display: inline-flex;
      top: -115px;
    "
  >
    <div
      style="
        width: 30px;

        height: -200px;
        padding: 8px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 17px;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        display: inline-flex;
      "
    >
      <div style="width: 14px; height: -18px; position: relative">
        <div
          style="
            width: 5.09px;
            height: 8.91px;
            left: 9.55px;
            top: 2.55px;
            position: absolute;
            transform: rotate(180deg);
            transform-origin: 0 0;
            background: black;
          "
        ></div>
      </div>
    </div>
    

      <div
        style="
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          display: flex;
        "
      >
        <div
          style="
            width: 160px;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 16px;
            padding-right: 26px;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            display: inline-flex;
          "
        >
          <div
            style="
              width: 22px;
              height: 22px;
              padding-left: 1.37px;
              padding-right: 1.37px;
              padding-top: 1.15px;
              padding-bottom: 1.15px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 19.25px; height: 19.71px; position: relative">
              <div
                style="
                  width: 19.25px;
                  height: 16.04px;
                  left: 0px;
                  top: 3.67px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 8.71px;
                  height: 5.04px;
                  left: 5.27px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 5.04px;
                  height: 5.04px;
                  left: 7.1px;
                  top: 9.17px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 8.39px;
                  height: 4.14px;
                  left: 10.77px;
                  top: 8.25px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 8.14px;
                  height: 3.91px;
                  left: 0.34px;
                  top: 8.5px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              color: #f1f1f1;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Projects
          </div>
        </div>
        <div
          style="
            width: 160px;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 16px;
            padding-right: 26px;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            display: inline-flex;
          "
        >
          <div
            style="
              width: 22px;
              height: 22px;
              padding-left: 2.06px;
              padding-right: 2.06px;
              padding-top: 2.52px;
              padding-bottom: 2.52px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 17.88px; height: 16.96px; position: relative">
              <div
                style="
                  width: 10.54px;
                  height: 1.38px;
                  left: 7.33px;
                  top: 14.67px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 10.54px;
                  height: 1.38px;
                  left: 7.33px;
                  top: 8.25px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 10.54px;
                  height: 1.38px;
                  left: 7.33px;
                  top: 1.83px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 5.04px;
                  height: 4.12px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 5.04px;
                  height: 4.12px;
                  left: 0px;
                  top: 6.42px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 5.04px;
                  height: 4.12px;
                  left: 0px;
                  top: 12.83px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              color: #f1f1f1;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Tasks
          </div>
        </div>
        <div
          style="
            width: 160px;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 16px;
            padding-right: 26px;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            display: inline-flex;
          "
        >
          <div
            style="
              width: 22px;
              height: 22px;
              padding: 1.15px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 19.71px; height: 19.71px; position: relative">
              <div
                style="
                  width: 16.04px;
                  height: 16.04px;
                  left: 1.83px;
                  top: 1.83px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 9.95px;
                  height: 9.95px;
                  left: 4.58px;
                  top: 4.58px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 1.38px;
                  height: 3.21px;
                  left: 5.51px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 1.38px;
                  height: 3.21px;
                  left: 9.17px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 1.38px;
                  height: 3.21px;
                  left: 12.83px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 3.21px;
                  height: 1.38px;
                  left: 16.5px;
                  top: 5.5px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 1.38px;
                  height: 3.21px;
                  left: 5.51px;
                  top: 16.5px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 3.21px;
                  height: 1.38px;
                  left: 0px;
                  top: 5.5px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 3.21px;
                  height: 1.38px;
                  left: 0px;
                  top: 9.17px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 3.21px;
                  height: 1.38px;
                  left: 0px;
                  top: 12.83px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 4.29px;
                  height: 4.29px;
                  left: 12.03px;
                  top: 12.29px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 11.07px;
                  height: 10.54px;
                  left: 8.63px;
                  top: 9.16px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              color: #f1f1f1;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
              
            "
          >
            <a href="/home" style="text-decoration: none; color: inherit;">Dashboard2</a>
          </div>

        </div>
        <div
          style="
            width: 160px;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 16px;
            padding-right: 26px;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            display: inline-flex;
          "
        >
          <div
            style="
              width: 22px;
              height: 22px;
              padding-top: 1.15px;
              padding-bottom: 1.14px;
              padding-left: 1.15px;
              padding-right: 1.18px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 19.68px; height: 19.71px; position: relative">
              <div
                style="
                  width: 7.46px;
                  height: 12.86px;
                  left: 12.22px;
                  top: -0px;
                  position: absolute;
                "
              >
                <div
                  style="
                    width: 6.1px;
                    height: 6.11px;
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
                <div
                  style="
                    width: 5.98px;
                    height: 5.98px;
                    left: 1.48px;
                    top: 6.88px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
              </div>
              <div
                style="
                  width: 7.46px;
                  height: 12.86px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                "
              >
                <div
                  style="
                    width: 6.11px;
                    height: 6.11px;
                    left: 1.35px;
                    top: -0px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
                <div
                  style="
                    width: 5.98px;
                    height: 5.98px;
                    left: 0px;
                    top: 6.88px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
              </div>
              <div
                style="
                  width: 8.65px;
                  height: 12.86px;
                  left: 5.53px;
                  top: 6.85px;
                  position: absolute;
                "
              >
                <div
                  style="
                    width: 6.11px;
                    height: 6.11px;
                    left: 1.19px;
                    top: -0px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
                <div
                  style="
                    width: 8.65px;
                    height: 5.97px;
                    left: 0px;
                    top: 6.89px;
                    position: absolute;
                    background: #f1f1f1;
                  "
                ></div>
              </div>
            </div>
          </div>
          <div
            style="
              color: #f1f1f1;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Users
          </div>
        </div>
        <div
          style="
            width: 160px;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 16px;
            padding-right: 26px;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            display: inline-flex;
          "
        >
          <div
            style="
              width: 22px;
              height: 22px;
              padding-top: 1.66px;
              padding-bottom: 1.66px;
              padding-left: 1.15px;
              padding-right: 1.14px;
              justify-content: center;
              align-items: center;
              display: flex;
            "
          >
            <div style="width: 19.72px; height: 18.68px; position: relative">
              <div
                style="
                  width: 6.88px;
                  height: 6.88px;
                  left: 6.42px;
                  top: 5.9px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
              <div
                style="
                  width: 19.72px;
                  height: 18.68px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  background: #f1f1f1;
                "
              ></div>
            </div>
          </div>
          <div
            style="
              color: #f1f1f1;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Menu settings
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        width: 78px;
        height: 38px;
        left: 82px;
        top: 42px;
        position: absolute;
        color: white;
        font-size: 15px;
        font-family: Inter;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      <a href="/home" style="text-decoration: none; color: inherit;">EduSmart</a>
    </div>
    <div
      style="
        width: 1180px;
        height: 0px;
        left: 260px;
        top: 94px;
        position: absolute;
        border: 1px rgba(0, 0, 0, 0.08) solid;
      "
    ></div>
    <div
      style="
        width: 1120px;
        left: 290px;
        top: 23px;
        position: absolute;
        justify-content: flex-start;
        align-items: center;
        gap: 449px;
        display: inline-flex;
      "
    >
      <div
        style="
          width: 521px;
          color: #000606;
          font-size: 32px;
          font-family: Inter;
          font-weight: 400;
          letter-spacing: 0.16px;
          word-wrap: break-word;
        "
      >
        <a href="/home" style="text-decoration: none; color: inherit;">Dashboard</a>
      </div>
      <div style="width: 173px; height: 48px"></div>
    </div>
    <div
      style="
        left: 290px;
        top: 114px;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        display: inline-flex;
      "
    >
      <div
        style="
          width: 1120px;
          justify-content: space-between;
          align-items: center;
          display: inline-flex;
        "
      >
        <div
          style="
            color: #060606;
            font-size: 22px;
            font-family: Inter;
            font-weight: 400;
            letter-spacing: 0.22px;
            word-wrap: break-word;
          "
        >
          Overview
        </div>
      </div>
      <div
        style="
          height: 130px;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;
          display: inline-flex;
        "
      >
        <div
          style="
            width: 259px;
            height: 103px;
            padding-top: 18px;
            padding-bottom: 24px;
            padding-left: 18px;
            padding-right: 43px;
            background: rgba(255, 255, 255, 0.34);
            border-radius: 14px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <div
            style="
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 10px;
              display: flex;
            "
          >
            <div
              style="
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 20px;
                display: flex;
              "
            >
              <div
                style="
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 10px;
                  display: flex;
                "
              >
                <div
                  style="
                    width: 83px;
                    color: #797979;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  "
                >
                  SQL Solved
                </div>
                <div
                  style="
                    color: #060606;
                    font-size: 28px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.28px;
                    word-wrap: break-word;
                  "
                >
                  322
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            width: 261px;
            height: 103px;
            padding-top: 18px;
            padding-bottom: 24px;
            padding-left: 18px;
            padding-right: 43px;
            background: rgba(255, 255, 255, 0.34);
            border-radius: 14px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <div
            style="
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 20px;
              display: flex;
            "
          >
            <div
              style="
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                display: flex;
              "
            >
              <div
                style="
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 10px;
                  display: flex;
                "
              >
                <div
                  style="
                    color: #797979;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 400;
                    word-wrap: break-word;
                  "
                >
                  Projects
                </div>
                <div>
                  <span
                    style="
                      color: #060606;
                      font-size: 28px;
                      font-family: Inter;
                      font-weight: 400;
                      letter-spacing: 0.28px;
                      word-wrap: break-word;
                    "
                    >95 </span
                  ><span
                    style="
                      color: #060606;
                      font-size: 16px;
                      font-family: Inter;
                      font-weight: 400;
                      letter-spacing: 0.64px;
                      word-wrap: break-word;
                    "
                    >/100</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            width: 266px;
            height: 103px;
            padding-top: 18px;
            padding-bottom: 24px;
            padding-left: 18px;
            padding-right: 43px;
            background: rgba(255, 255, 255, 0.34);
            border-radius: 14px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <div
            style="
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 20px;
              display: flex;
            "
          >
            <div
              style="
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                display: flex;
              "
            >
              <div
                style="
                  color: #797979;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Time spent
              </div>
              <div>
                <span
                  style="
                    color: #060606;
                    font-size: 28px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.28px;
                    word-wrap: break-word;
                  "
                  >1022 </span
                ><span
                  style="
                    color: #060606;
                    font-size: 16px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.64px;
                    word-wrap: break-word;
                  "
                  >/1300 Hrs</span
                >
              </div>
            </div>
          </div>
        </div>

          <div
            style="
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 20px;
              display: flex;
            "
          >
            <div
              style="
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                display: flex;
              "
            >
    
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div
      style="
        width: 607px;
        height: 298px;
        padding-top: 18px;
        padding-bottom: 10px;
        padding-left: 18px;
        padding-right: 18px;
        left: 290px;
        top: 315px;
        position: absolute;
        background: rgba(255, 255, 255, 0.34);
        border-radius: 14px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        display: inline-flex;
      "
    >
      <div
        style="
          width: 571px;
          height: 214px;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 24px;
          display: flex;
        "
      >
        <div
          style="
            width: 654px;
            justify-content: space-between;
            align-items: center;
            display: inline-flex;
          "
        >
          <div
            style="
              color: #060606;
              font-size: 16px;
              font-family: Inter;
              font-weight: 400;
              letter-spacing: 0.16px;
              word-wrap: break-word;
            "
          >
            Project summary
          </div>
          <div></div>
        </div>
        <div
          style="
            width: 582px;
            height: 190px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: flex;
          "
        >
          <div
            style="
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 10px;
              display: flex;
            "
          >
            <div style="width: 535px; height: 17px; position: relative">
              <div
                style="
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  letter-spacing: 0.14px;
                  word-wrap: break-word;
                "
              >
                Name
              </div>
              <div
                style="
                  left: 241px;
                  top: 0px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  letter-spacing: 0.14px;
                  word-wrap: break-word;
                "
              >
                Project manager
              </div>
              <div
                style="
                  left: 387px;
                  top: 0px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  letter-spacing: 0.14px;
                  word-wrap: break-word;
                "
              >
                Due date
              </div>
              <div
                style="
                  left: 491px;
                  top: 0px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  letter-spacing: 0.14px;
                  word-wrap: break-word;
                "
              >
                Status
              </div>
            </div>
            <div
              style="
                width: 560px;
                height: 0px;
                border: 1px rgba(0, 0, 0, 0.1) solid;
              "
            ></div>
          </div>
          <div style="width: 571px; height: 157px; position: relative">
            <div
              style="
                width: 554px;
                height: 25px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                style="
                  left: 0px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Datascale AI app
              </div>
              <div
                style="
                  left: 241px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Neilsan mando
              </div>
              <div
                style="
                  left: 387px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Jun 20, 2023
              </div>
              <div
                style="
                  width: 63px;
                  height: 25px;
                  padding-left: 8px;
                  padding-right: 8px;
                  padding-top: 5px;
                  padding-bottom: 5px;
                  left: 491px;
                  top: 0px;
                  position: absolute;
                  background: rgba(226.31, 177.2, 50.92, 0.18);
                  border-radius: 20px;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 10px;
                  display: inline-flex;
                "
              >
                <div
                  style="
                    color: #dfa510;
                    font-size: 12px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.12px;
                    word-wrap: break-word;
                  "
                >
                  Delayed
                </div>
              </div>
            </div>
            <div
              style="
                width: 544px;
                height: 25px;
                left: 0px;
                top: 44px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 53px;
                  height: 25px;
                  padding-left: 8px;
                  padding-right: 8px;
                  padding-top: 5px;
                  padding-bottom: 5px;
                  left: 491px;
                  top: 0px;
                  position: absolute;
                  background: rgba(238, 31.55, 27.77, 0.18);
                  border-radius: 20px;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 10px;
                  display: inline-flex;
                "
              >
                <div
                  style="
                    color: #ee201c;
                    font-size: 12px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.12px;
                    word-wrap: break-word;
                  "
                >
                  At risk
                </div>
              </div>
              <div
                style="
                  left: 387px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                July 13, 2023
              </div>
              <div
                style="
                  left: 241px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Tiruvelly priya
              </div>
              <div
                style="
                  left: 0px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Media channel branding
              </div>
            </div>
            <div
              style="
                width: 571px;
                height: 25px;
                left: 0px;
                top: 88px;
                position: absolute;
              "
            >
              <div
                style="
                  left: 387px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Dec 20, 2023
              </div>
              <div
                style="
                  left: 241px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Matte hannery
              </div>
              <div
                style="
                  left: 0px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Corlax iOS app develpoement
              </div>
              <div
                style="
                  width: 80px;
                  height: 25px;
                  padding-left: 8px;
                  padding-right: 8px;
                  padding-top: 5px;
                  padding-bottom: 5px;
                  left: 491px;
                  top: 0px;
                  position: absolute;
                  background: rgba(26.27, 146.62, 45.53, 0.18);
                  border-radius: 20px;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 10px;
                  display: inline-flex;
                "
              >
                <div
                  style="
                    color: #1a932e;
                    font-size: 12px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.12px;
                    word-wrap: break-word;
                  "
                >
                  Completed
                </div>
              </div>
            </div>
            <div
              style="
                width: 560px;
                height: 25px;
                left: 0px;
                top: 132px;
                position: absolute;
              "
            >
              <div
                style="
                  width: 69px;
                  height: 25px;
                  padding-left: 8px;
                  padding-right: 8px;
                  padding-top: 5px;
                  padding-bottom: 5px;
                  left: 491px;
                  top: 0px;
                  position: absolute;
                  background: rgba(230, 95, 43, 0.18);
                  border-radius: 20px;
                  justify-content: flex-start;
                  align-items: flex-start;
                  gap: 10px;
                  display: inline-flex;
                "
              >
                <div
                  style="
                    color: #e65f2b;
                    font-size: 12px;
                    font-family: Inter;
                    font-weight: 400;
                    letter-spacing: 0.12px;
                    word-wrap: break-word;
                  "
                >
                  On going
                </div>
              </div>
              <div
                style="
                  left: 387px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Mar 15, 2024
              </div>
              <div
                style="
                  left: 241px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Sukumar rao
              </div>
              <div
                style="
                  left: 0px;
                  top: 4px;
                  position: absolute;
                  color: #060606;
                  font-size: 14px;
                  font-family: Inter;
                  font-weight: 400;
                  word-wrap: break-word;
                "
              >
                Website builder developement
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        width: 31.18px;
        height: 30.94px;
        left: 30px;
        top: 32px;
        position: absolute;
      "
    >
      <div
        style="
          width: 7.82px;
          height: 9.68px;
          left: 22.2px;
          top: 5.78px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.4px;
          height: 9.69px;
          left: 16.9px;
          top: 1.69px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.77px;
          height: 9.33px;
          left: 11.25px;
          top: 0px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.76px;
          height: 7.76px;
          left: 5.83px;
          top: 1.16px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.77px;
          height: 9.33px;
          left: 1.71px;
          top: 4.85px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.4px;
          height: 9.69px;
          left: 0px;
          top: 10.09px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 7.82px;
          height: 9.68px;
          left: 1.16px;
          top: 15.47px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.4px;
          height: 9.69px;
          left: 4.88px;
          top: 19.55px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.77px;
          height: 9.33px;
          left: 10.17px;
          top: 21.61px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.76px;
          height: 7.76px;
          left: 15.6px;
          top: 22.02px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.77px;
          height: 9.33px;
          left: 19.71px;
          top: 16.76px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
      <div
        style="
          width: 9.4px;
          height: 8.37px;
          left: 21.78px;
          top: 12.48px;
          position: absolute;
          background: #e65f2b;
          box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
        "
      ></div>
    </div>

<button 
    style="position: absolute; top: 30px; left: 1200px; padding: 12px; width: 120px; background-color: #8fd0ef; color: white; font-size: 16px; font-family: Poppins, sans-serif; font-weight: 600; line-height: 1.5; text-align: center; border: none; cursor: pointer; border-radius: 10px;"
    onmouseover="this.style.backgroundColor = '#74b7e0';"
    onmouseout="this.style.backgroundColor = '#8fd0ef';"
>
    <a href="/login" style="text-decoration: none; color: #ffffff;">Sign Out</a>
</button>

</body>
</html>